<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softnet.speakerphone">

    <!-- 권한 정의 -->
    <!-- 스피커폰 변경시 필요 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 폰의 상태, 전화번호 읽어오기 위해 필요 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/> <!-- 전화번호 읽어오기 위해 필요 -->

    <application>
        <receiver
            android:name=".PhoneCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>